@font-face {
  font-family: 'Blazed';
  src: url('Blazed.ttf');
}

/* .vl {
  position: absolute;
  border-left: 6px solid linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  top: 130%;
  height: 800px;
} */

.vl {
  position: absolute;
  top: 130%;
  --angle: 0deg;
  height: 900px;
  border-left: 10px solid;
  border-image: conic-gradient(from var(--angle), rgb(255, 60, 0), rgb(255, 94, 0), orange, rgb(247, 174, 38), rgb(247, 174, 38), rgb(255, 208, 0), rgb(247, 174, 38), rgb(247, 174, 38), orange, rgb(255, 94, 0)) 1;
  animation: 15s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

body{
  height: auto;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.comets__loading--image {
  height: 100vmax;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1464802686167-b939a6910659?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1033&q=80");
  background-repeat: no-repeat;
  background-size: cover;
}

.comets__loading--text {
  position: relative;
  top: 20%;
  color: white;
  font-size: 100px;
  animation-name: grow-item;
  animation-duration: 2s;
}

@keyframes grow-item {
  0% {
      opacity: 0;
      /* transform: scale(.5); */
      font-size: 150px;
      color: white;
      text-shadow: none;
  }
  25% {
      opacity: 1;
  }
  100% {
      /* transform: scale(1); */
      font-size: 200px;
      color: red;
      /* text-shadow: 0px 0px 20px yellow; */
  }
}

#background-image{
  position: fixed;
  z-index: -100;
  bottom: -45%; 
  right: 0; 
  min-width: 100%;
  min-height: 100%;
}

.fireballs-header{
  margin-top: 40px;
  width: 100vw;
  text-align: center;
  position: relative;
  top: 40px;
  margin-bottom: 30px;
}

.fireballs-header > img{
  margin: 90px;
}

.head-text-container {
  padding: 1vw;
  position: absolute;
  top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fireballs-header img{
  height: 200px;
  width: 200px;
}

.head-text-container {
  /* padding: 1vw; */
  margin-top: -42px;
  margin-bottom: -20px;
  width: 100vw;
}

.head-text-background-color p {
  color: red;
  font-family: 'Blazed';
  font-size: 8vw;
  text-shadow: 7px 0px 2px yellow;
  letter-spacing: 1vw;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-align: center;
  background: rgb(216, 73, 6);
  background: linear-gradient( left, #00ffff 0%, #97fba0 25%, #97b1fb 50%, #00ffff 100%) repeat;
  background-clip: text;
  -ms-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -ms-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  animation-name: masked-animation;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/* 
@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -8000px -3000px;
  }
} */

.search-location-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-height: 576px) {  
.vl {
  top: 150%;
}
}