.footer {
    height: 50px;
    margin-bottom: 0px;
    margin-left: 1px;
    /* background-image: url("https://images.unsplash.com/photo-1594814333947-e7b4e4f5d34d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"); */
    background-color: white;
    position: fixed;
    bottom: 0;
    width: 105%;
}

.footer__img__icon {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    animation-name: lava;
    animation-duration: 30s;
    animation-iteration-count: infinite;
}



.footer__grid-container {
    display: grid;
    grid-template-columns: 3fr 2.5fr 2.5fr 2.5fr 1fr;
    width: 100%;
}

.footer__grid-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
    /* margin-right: 50px; */
}

.footer__grid-2,
.footer__grid-3,
.footer__grid-4,
.footer__grid-5 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 30px;
}

.footer__grid-5 {
    background-color: rgba(255, 255, 255, 1);
}

.github__links__creator {
    height: 33px;
    width: 150px;
    border-radius: 4px;
    text-decoration: none;
    background-color: white;
    text-align: center;
    align-content: center;
    margin-top: 0px;
    color: black;
}

.github__links__creator:hover {
    transform: scale(1.83);
}

.footer__span__names {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.footer__img__repo {
    background-color: rgba(255, 255, 255, 1);
    margin-right: 40px;
}

