.comets__loading--image {
    height: 100vmax;
    width: 100%;
    /* background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://images.unsplash.com/photo-1594814333947-e7b4e4f5d34d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=700&q=80"); */
    animation-name: grow-item;
    animation-duration: 2s;
}

.comets__loading--text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 100px;
    margin-top: 60%;
    animation-name: grow-item;
    animation-duration: 2s;
}

@keyframes grow-item {
    0% {
        opacity: 0;
        transform: scale(.5);
        font-size: 100px;
        color: white;
        text-shadow: none;
    }
    25% {
        opacity: 1;
    }
    100% {
        transform: scale(1.5);
        font-size: 120px;
        color: red;
        text-shadow: 0px 0px 20px yellow;
    }
}