.searchbar{
  width: '508px';
  margin-bottom: 5px;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container-text{
  align-self: flex-start;
  padding: 5px 12px;
  margin-bottom: 0px;
  background-color: #ffc107;
  width: 100%;
  border-radius: 4px 4px 0 0;
}

#formBasicEmail{
  border-radius: 0 0 4px 4px;
}